In [29]:
import pandas as pd
import plotly.offline as py
import plotly.graph_objs as go
import plotly.express as px

py.init_notebook_mode(connected=True)

In [101]:
data1 = pd.read_csv('regional-global-weekly-2022-06-02.csv')
data1['data'] = '06-02-2022'
data2 = pd.read_csv('regional-global-weekly-2022-06-09.csv')
data2['data'] = '06-09-2022'
data3 = pd.read_csv('regional-global-weekly-2022-06-16.csv')
data3['data'] = '06-16-2022'
data4 = pd.read_csv('regional-global-weekly-2022-06-23.csv')
data4['data'] = '06-23-2022'

data1.head()

,rank,uri,artist_names,track_name,source,peak_rank,previous_rank,weeks_on_chart,streams,data
0,1,spotify:track:4Dvkj6JhhA12EX05fT7y2e,Harry Styles,As It Was,Columbia,1,1,9,60420855,06-02-2022
1,2,spotify:track:6Sq7ltF9Qa7SNFBsV5Cogx,"Bad Bunny, Chencho Corleone",Me Porto Bonito,Rimas Entertainment LLC,2,4,4,39026161,06-02-2022
2,3,spotify:track:3k3NWokhRRkEPhCzPmV8TW,"Bad Bunny, Bomba Estéreo",Ojitos Lindos,Rimas Entertainment LLC,3,3,4,37623538,06-02-2022
3,4,spotify:track:75FEaRjZTKLhTrFGsfMUXR,Kate Bush,Running Up That Hill (A Deal With God),Parlophone UK,4,-1,1,32763806,06-02-2022
4,5,spotify:track:1IHWl5LamUGEuP4ozKQSXZ,Bad Bunny,Tití Me Preguntó,Rimas Entertainment LLC,5,9,4,31126704,06-02-2022

In [102]:
data1 = data1.drop(['uri', 'previous_rank', 'weeks_on_chart'], axis = 1)
data2 = data2.drop(['uri', 'previous_rank', 'weeks_on_chart'], axis = 1)
data3 = data3.drop(['uri', 'previous_rank', 'weeks_on_chart'], axis = 1)
data4 = data4.drop(['uri', 'previous_rank'], axis = 1)

In [103]:
data1.head()

,rank,artist_names,track_name,source,peak_rank,streams,data
0,1,Harry Styles,As It Was,Columbia,1,60420855,06-02-2022
1,2,"Bad Bunny, Chencho Corleone",Me Porto Bonito,Rimas Entertainment LLC,2,39026161,06-02-2022
2,3,"Bad Bunny, Bomba Estéreo",Ojitos Lindos,Rimas Entertainment LLC,3,37623538,06-02-2022
3,4,Kate Bush,Running Up That Hill (A Deal With God),Parlophone UK,4,32763806,06-02-2022
4,5,Bad Bunny,Tití Me Preguntó,Rimas Entertainment LLC,5,31126704,06-02-2022

In [104]:
df = pd.merge(data1, data2, how = 'outer')
df = pd.merge(df, data3, how = 'outer')
df = pd.merge(df, data4, how = 'outer')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 799
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rank            800 non-null    int64
 1   artist_names    800 non-null    object
 2   track_name      800 non-null    object
 3   source          800 non-null    object
 4   peak_rank       800 non-null    int64
 5   streams         800 non-null    int64
 6   data            800 non-null    object
 7   weeks_on_chart  200 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 56.2+ KB

In [105]:
df.head()

,rank,artist_names,track_name,source,peak_rank,streams,data,weeks_on_chart
0,1,Harry Styles,As It Was,Columbia,1,60420855,06-02-2022,NaN
1,2,"Bad Bunny, Chencho Corleone",Me Porto Bonito,Rimas Entertainment LLC,2,39026161,06-02-2022,NaN
2,3,"Bad Bunny, Bomba Estéreo",Ojitos Lindos,Rimas Entertainment LLC,3,37623538,06-02-2022,NaN
3,4,Kate Bush,Running Up That Hill (A Deal With God),Parlophone UK,4,32763806,06-02-2022,NaN
4,5,Bad Bunny,Tití Me Preguntó,Rimas Entertainment LLC,5,31126704,06-02-2022,NaN

In [106]:
datas = df['data']

In [107]:
df.to_csv('june_spotify.csv')

In [100]:
datas.to_csv('datas.csv')

In [56]:
data1['streams09'] = 'NaN'

for index, row in data1.iterrows():
    for index, row2 in data2.iterrows():
        if row['track_name'] == row2['track_name']:
            data1.loc[index,'streams09'] =  str(data2.loc[index,'streams'])

In [57]:
data1['streams16'] = 'NaN'

for index, row in data3.iterrows():
    for index, row2 in data3.iterrows():
        if row['track_name'] == row2['track_name']:
            data1.loc[index,'streams16'] =  str(data3.loc[index,'streams'])

In [58]:
data1['streams23'] = 'NaN'

for index, row in data1.iterrows():
    for index, row2 in data4.iterrows():
        if row['track_name'] == row2['track_name']:
            data1.loc[index,'streams23'] =  str(data4.loc[index,'streams'])

In [59]:
data1['peak_rank23'] = 'NaN'

for index, row in data1.iterrows():
    for index, row2 in data4.iterrows():
        if row['track_name'] == row2['track_name']:
            data1.loc[index,'peak_rank23'] =  str(data4.loc[index,'peak_rank'])

In [60]:
data1['rank09'] = 'NaN'

for index, row in data1.iterrows():
    for index, row2 in data2.iterrows():
        if row['track_name'] == row2['track_name']:
            data1.loc[index,'rank09'] =  str(data2.loc[index,'rank'])

In [61]:
data1['rank16'] = 'NaN'

for index, row in data1.iterrows():
    for index, row2 in data3.iterrows():
        if row['track_name'] == row2['track_name']:
            data1.loc[index,'rank16'] =  str(data3.loc[index,'rank'])

In [62]:
data1['rank23'] = 'NaN'

for index, row in data1.iterrows():
    for index, row2 in data4.iterrows():
        if row['track_name'] == row2['track_name']:
            data1.loc[index,'rank23'] =  str(data4.loc[index,'rank'])

In [63]:
data1['weeks_on_chart'] = 'NaN'

for index, row in data1.iterrows():
    for index, row2 in data4.iterrows():
        if row['track_name'] == row2['track_name']:
            data1.loc[index,'weeks_on_chart'] =  str(data4.loc[index,'weeks_on_chart'])

In [64]:
data1.rename(columns={'streams': 'stream02'}, inplace = True)
data1.rename(columns={'rank': 'rank02'}, inplace = True)

In [65]:
data1.head()

,rank02,artist_names,track_name,source,peak_rank,stream02,streams09,streams16,streams23,peak_rank23,rank09,rank16,rank23,weeks_on_chart
0,1,Harry Styles,As It Was,Columbia,1,60420855,57221016,52664030,NaN,NaN,1,1,NaN,NaN
1,2,"Bad Bunny, Chencho Corleone",Me Porto Bonito,Rimas Entertainment LLC,2,39026161,56282016,48454109,51573121,1,2,2,2,12
2,3,"Bad Bunny, Bomba Estéreo",Ojitos Lindos,Rimas Entertainment LLC,3,37623538,39839157,39250562,41664565,1,3,3,3,4
3,4,Kate Bush,Running Up That Hill (A Deal With God),Parlophone UK,4,32763806,37479812,36890599,39503992,2,4,NaN,4,7
4,5,Bad Bunny,Tití Me Preguntó,Rimas Entertainment LLC,5,31126704,32543225,35698157,33922802,5,5,5,5,7

In [66]:
data1.to_csv('junho_spotify.csv')

In [67]:
data_top20 = data1.sort_values('rank02', ascending = True).head(20)
data_top20.head()

,rank02,artist_names,track_name,source,peak_rank,stream02,streams09,streams16,streams23,peak_rank23,rank09,rank16,rank23,weeks_on_chart
0,1,Harry Styles,As It Was,Columbia,1,60420855,57221016,52664030,NaN,NaN,1,1,NaN,NaN
1,2,"Bad Bunny, Chencho Corleone",Me Porto Bonito,Rimas Entertainment LLC,2,39026161,56282016,48454109,51573121,1,2,2,2,12
2,3,"Bad Bunny, Bomba Estéreo",Ojitos Lindos,Rimas Entertainment LLC,3,37623538,39839157,39250562,41664565,1,3,3,3,4
3,4,Kate Bush,Running Up That Hill (A Deal With God),Parlophone UK,4,32763806,37479812,36890599,39503992,2,4,NaN,4,7
4,5,Bad Bunny,Tití Me Preguntó,Rimas Entertainment LLC,5,31126704,32543225,35698157,33922802,5,5,5,5,7

In [72]:
data_top20.rename(columns={'stream02': '02-06-2022'}, inplace = True)

In [73]:
data_top20.rename(columns={'streams09': '09-06-2022'}, inplace = True)
data_top20.rename(columns={'streams16': '16-06-2022'}, inplace = True)
data_top20.rename(columns={'streams23': '23-06-2022'}, inplace = True)

In [74]:
data_top20.to_csv('top_spotify.csv')

In [78]:
ibge['data'] = 'NaN'

for index, row in ibge.iterrows():
  for index, row2 in macrorregion.iterrows():
      if row['city'] == row2['city']:
          ibge.loc[index,'macrorregion'] =  str(macrorregion.loc[index,'region'])

0    60420855
1    39026161
2    37623538
3    32763806
4    31126704
Name: 02-06-2022, dtype: int64